<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
<div class="chart"></div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
var data1 = {{list}};
var x = d3.scale.linear()
    .domain([0, d3.max(data1)])
    .range([0, 420]);

 d3.select(".chart")
  .selectAll("div")
    .data(data1)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });
 </script>
</head>
<body>

</body>
</html>
