<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Shereen Hasan</h1>
    <h2>1001437130</h2>
    <meta charset="UTF-8">
    <img src={{ url_for('static',filename ='cat.jpg')}} width=200 height=200>
    <title>Title</title>
</head>
<body>

<br>
<h1>enter info:</h1> <br>
<form action ='result' method ="post" enctype="multipart/form-data">
    enter k value<input type="text" name ="text1"/> <br>
    enter coloumn1<input type="text" name ="text2"/> <br>
    enter coloumn2<input type="text" name ="text3"/> <br>
    enter method<input type="text" name ="text4"/> <br>
    <br>

        <input type="submit" value="submit"/>
</form>

</body>
</html>